html {
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif; /* Modern and clean font */
}

.center {
  text-align: center;
}

body {
  background-color: #383838; 
  font-size: 16px; /* Increased font size for better readability */
  color: #e0e0e0; /* Softer white color for text */
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

form {
  color: #e0e0e0; /* Matching form color with the body text */
}

button {
  background-image: linear-gradient(#ffa200, #e06c00); 
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease; /* Smooth transition for hover effects */
}

button:hover {
  background-image: linear-gradient(#40739e, #487eb0); /* Reverse gradient on hover */
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.topnav {
  overflow: hidden;
  padding: 10px 0; /* Added padding for spacing */
}

.topnav button {
  background-color: #333;
  border: 1px solid #444; /* Subtle border for definition */
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  height: auto; /* Auto height for padding control */
  line-height: normal;
  padding: 8px 16px; /* Increased padding for a larger click area */
  text-align: center;
  transition: all 0.3s ease; /* Consistent transition effect */
}

.error {
  color: #e74c3c; /* Brighter red for errors to catch attention */
}

.topnav button:hover {
  color: #81ecec; /* Lighter color on hover for distinction */
  border-color: #81ecec; /* Border color matches text color on hover */
}

.topnav button:focus {
  border-color: #74b9ff; /* More noticeable focus border color */
  outline: none; /* Removing outline for aesthetics */
}